.chronoPools{
    .guide{
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        padding-right: 1.5rem;
    }
}

.app-dark-mode{
    .chronoPools{
        .guide{
            background-image: url('./diagonal-up.png');
    
        }
    }
}