@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./darkMode.scss";
@import "./lightMode.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";



@mixin app-styles {
  /*mix-blend-mode: multiply;  bad prop in figma */
  font-family: Poppins, sans-serif;
  font-weight: 300;
  .btn{
    border-radius: 50rem;
  }

  .bg-light-mod, .bg-secondary-mod, .bg-secondary-mod-1{
    border-radius: 1rem;
  }

  @include media-breakpoint-down(sm) {
      h3,h4,h5,p{
        padding-left:0.5rem;
        padding-top:0.5rem;
      }
    }
  
}

.app{
  @include app-styles();
  height: 100vh;
  overflow-x: hidden;;
}

.modal-dialog{
  @include media-breakpoint-up(lg) { 
    max-width: 845px;
   }

}

.modal-body{

  padding: 0rem 1rem;

  @include media-breakpoint-up(sm){
    padding: 0rem 4rem;
  }
}

.modal-header{
  padding-bottom: 0.5rem;
}

.modal-footer{
  padding-top: 0px;
}


.modal-content{

  @include app-styles();
  
  .btn-close{
    margin: -2.9rem -1.2rem -0.5rem auto;
    border-radius: 1.25rem;
    position: absolute;
    right: 1rem;
  }

  .modal-footer{
    justify-content: center;
    border-top: 0;
  }

  .modal-header{
    border-bottom: 0;
    justify-content: center;
  }

  .modal-title{
    font-weight:600;
  }
}


