@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./darkMode.scss";

.app{
  height: 100vh;
  
  /*mix-blend-mode: multiply;  bad prop in figma */

  font-family: Poppins, sans-serif;

  background-color: rgba(6, 0, 11, 0.88);
  color: white;


  .btn{
    border-radius: 50rem;
  }

}


