.app-dark-mode {

    @mixin rounded-lght{
        background-color: #14101e;
        color:white;
        border: 1px solid #4d4d59;
    }

    @mixin secondary-bg {
        background-color: #3f4551;
    }

    @mixin inputs-colors {
        color: white;
        background-color: #373246;
        border-color: #515362;
    }

    &.app{
        background-color: #121212;
        color: white;
    }
      

    .mainContentHolder{
        background-color: #0f1626;
        background-image: url('./components/main/bg-img-dark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }


    .btn-primary{
        color:white;
    }

    .btn-secondary{
        @include secondary-bg();
    }

    .btn-light{
        @include rounded-lght();
    }

    .btn-link{
        color: white;
    }

    .bg-light-mod{
        @include rounded-lght();
    }


    .bg-secondary-mod{
        @include secondary-bg();
    }

    .bg-secondary-mod-1{
        background-color: rgba(255, 255, 255, 0.1);
    }

    .form-control{
        @include inputs-colors;
    }

    .input-group-text{
        @include inputs-colors;
    }

    &.modal-content{
        background-color: #404243;
        color: white;

        .btn-close{
            color: white;
            background-image: url('./components/navbars/close.png');
            background-color: #131314;
        }
    }

    @mixin dropdownMenuMixin {
        display: flex;

        &:hover, &:focus{
            background-color: #7d7d934f;
        }

        span{
            @include secondary-bg();
            color: white;
            border-radius: 0.25rem;
            text-align: center;
            flex-grow: 1;
        }

    }

    
    .dropdown{
        .btn{
            color:white;
        }
    }
    

    .topBar, .dropdown{
        .dropdown-menu{
            background-color: #131314;
            color:white;

            .dropdown-item{
                @include dropdownMenuMixin();
            }

        }
    }


}