@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";



.app-dark-mode{

    .mainContent{

        .social-how{
        
            .btn-how-copy{
                background-image: url('./document.png');
            }

            .btn-how-tele{
                background-image: url('./telegram.png');
            }

            .btn-how-discord{
                background-image: url('./discord-negative.png');
            }

        }
    }    
}

.app-light-mode{

    .mainContent{

        .social-how{
        
            .btn-how-copy{
                background-image: url('./document-1.png');
            }

            .btn-how-tele{
                background-image: url('./telegram-l.png');
            }

            .btn-how-discord{
                background-image: url('./discord-negative-l.png');
            }

        }
    }    
}


.mainContent{
    .high-yield-left{
        background-image: url('./rectangle-2.png');
        min-height: 15rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        border-radius: 0.25rem;

        /*
        @include media-breakpoint-up(md){
            background-size: cover;
        }
        */
    }

    .social-how{
        .icon-how{
            height: 1.5rem;
            width: 1.5rem;
            background-repeat: no-repeat;
            background-size: contain;
        }

    }



}

.loopModal{
    .nav{
        .nav-link{
            color: #cccccc;
            border-radius: 1.25rem;

            &.active{
                background-color: white;
                color: black;
            }
        }
    }
}