@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


.app-light-mode {
  .topBar {
    .modeswitch {
      .icon {
        background-image: url('./sun.png');
      }
    }
  }

  .bottomBar{
    
    .twitter{
      background-image: url('./twiitter-l.png');
    }

    .telegram{
      background-image: url('./telegram-l.png');
    }

    .discord{
      background-image: url('./discord-negative-l.png');
    }

    .medium{
      background-image: url('./medium-l.png');
    }

    .github{
      background-image: url('./github-1-l.png');
    }

    .bscScan{
      background-image: url('./logo-bscscan-1-l.png');
    }

}
}

.app-dark-mode {
  .topBar {
    .modeswitch {
      .icon {
        background-image: url('./moon.png');
      }
    }
  }

  .bottomBar{

      .twitter{
        background-image: url('./twiitter.png');
      }
  
      .telegram{
        background-image: url('./telegram.png');
      }
  
      .discord{
        background-image: url('./discord-negative.png');
      }
  
      .medium{
        background-image: url('./medium.png');
      }
  
      .github{
        background-image: url('./github-1.png');
      }
  
      .bscScan{
        background-image: url('./logo-bscscan-1.png');
      }
  
  }
  
}


.topBar {
  padding: 1.25em 3em;

  font-size: 8px;

  @include media-breakpoint-up(md){
    font-size: 12px;
  }

  @include media-breakpoint-up(lg){
    font-size: 16px;
  }

  .btn{
    font-size: 1em;
  }

  .logo {
    font-size: 1.5em;
    height: 3.5em;
    background-image: url('./image2.png');
    background-repeat: no-repeat;
    background-size: contain;

    span {
      margin-left: 3.5em;
      padding: 0 0.75em;
    }
  }

  .networkBtn {
    background-image: url('./right-icon.png');
    height: 1.5em;
    display:inline-block;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2em;
    background-size: contain;
  }

  .modeswitch {
    padding: 0.2em;

    .icon {

      
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 2em;
      height: 2em;

    }

  }

  .settings {
    padding: 0.2em;
    display: block;

    .dropdown-toggle{
      &::after{
        display: none;
      }
  
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }

    .icon {

      background-image: url('./settings.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 2em;
      height: 2em;

    }

  }

  .lgOnly{
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }

  }
}

.bottomBar{

  

  

  .soBtnHolder{

    .soBtn{
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 0.8em;
      height: 0.8em;

      @include media-breakpoint-up(md){
        width: 1.2em;
        height: 1.2em;
      
      }

    }
 
  }

  .image3{
    background-image: url('./image-3.png');
  }

  .image5{
    background-image: url('./image-5.png');
  }

  .image6{
    background-image: url('./image-6.png');
  }

  .image7{
    background-image: url('./image-7.png');
  }



}

.disclaimerModel{


  @include media-breakpoint-down(sm){

    max-width: 23rem;
  
  }
}